<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qunlqunn">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions">
    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logodangnhap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logodangnhap"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuảnLíQuánĂn">
        <activity android:name=".DangNhapActivity">
        </activity>
        <activity android:name=".DangKyActivity" >
        </activity>
        <activity android:name=".TrangChuActivity">
        </activity>
        <activity android:name=".ThemBanAnActivity"
            android:theme="@style/PopUpActivity">
        </activity>
        <activity android:name=".ThemThucDonActivity">
        </activity>
        <activity android:name=".ThemLoaiThucDonActivity"
            android:theme="@style/PopUpActivity"
            android:label="@string/loaithucdon">
        </activity>
        <activity android:name=".SoLuongActivity"
            android:theme="@style/PopUpActivity"
            android:label="@string/soluong">
        </activity>
        <activity android:name=".ThanhToanActivity">
        </activity>
        <activity android:name=".SuaBanAnActivity"
            android:label="@string/sua"
            android:theme="@style/PopUpActivity">
        </activity>
        <activity android:name=".ManHinhDoiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>